@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=Teko:wght@700&display=swap');


body {
    background-image: linear-gradient( rgba(0, 0, 0, 0.95) 9.53%, rgba(126, 69, 248, 0.95) 86.3%);
    font-family: 'Poppins';
    color: #fff;
}

#barra{
    width: 48vw;
    border: 1px solid rgb(216, 216, 216);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem
    
}

.inicio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:auto;
    padding: 6rem
}

.apresentacao h2{
    font-size: 3em;
}

.apresentacao p{
    font-size: 30px;
}

.btn-2 {
    font-family: Poppins;
    box-shadow: 8px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #5833ffdc;
    border: none;
    border-radius: 10px;
    width: 130px;
    height: 41px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.picture img{
    border-radius: 300px;
}


.menu a {
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: #f3f3f3;
    text-transform: uppercase;
    padding: 20px;
}

li {
    list-style-type: none;
  }

  .menu a:hover {
    background: #5833ffdc;
    content: "";
}

.bt a{
    text-decoration: none;
    color: inherit
}

.btn-t{
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}

.btn-2 a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    transition: transform 1s;
    transform: translateX(0) scale(0.5);
}

button:hover, 
button:focus {
    transition: transform 1s;
    transform: translateX(10px) scale(1.1);
}


.title {
    text-align: center;
    color: #fff;
    margin: 5vh;
    font-size: 2rem;
}



.text-1{
    width: 600px;
    font-size: 20px;
    margin: auto;
    color: rgb(255, 255, 255);
    text-align: justify;
}

#skills {
    margin: 5rem;
}

#projetos{
    margin: 5rem;
}

#contato{
    margin: 5rem;
}

.logos{
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
    margin-bottom: 5vh;
}



.group{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
}

.icons a{
    transition: transform 1s;
    transform: translateX(0) scale(0.5);
}


footer {
    color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media only screen and (max-width: 1000px) {
    .logos{
        display: grid;
        justify-content: center;
    }

    .group{
        display: grid;
    }
}